html, body{

font-family:"Baskerville"; font-weight: lighter;
letter-spacing:1px;
 
  font-size:12px;
  color:#000;
  min-width:1000px;
  min-height:600px;
}
#title{
    font-size:18px;
    z-index:9999;
    letter-spacing:4px;
    color:#000;    
}
#map{
	position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    margin:0%;
    z-index:0;
    
}
#map svg{
    width:100%;
    height:100%;
    z-index:999;
   
}
#layerLabel{
    z-index:999999;
    font-size:18px;
    padding:10px;
    color:;
}
#streetview{
	position:absolute;
    right:0px;
    bottom:0px;
    width:350px;
    height:350px;
    padding:20px; 
    font-size:24px;
    opacity: 1;
}
#streetviewImage{
    opacity: 0.5;
	position:absolute;
    right:0px;
    bottom:0px;
    width:350px;
    height:350px;
}
.line-stroke{
}
#legend{
	position:absolute;
    right:0px;
    top:0px;
    width:350px;
    height:100%;
    background-color:rgba(255,255,255,.8);
    padding:10px;
    
}
.d3-tip {
  line-height: 1;
  padding: 8px;
  background: #fff;
  color: #000;
  border-radius: 3px;
  z-index:2;
  width:380px;
  height:380px;
  box-shadow: 0px 0px 1px #000;
  font-size:30px;
  opacity:0.4;
  text-shadow: 0px 0px 1px #000;
  position:absolute;
  right:20px;
  bottom:20px;
}
.d3-tip img{
    filter: brightness(0.3);
    opacity:0.4;
}